@import '../../styles/breakpoints.scss';

.container {
    display: block;
    margin: 0;

    @include breakpoint(desktop) {
        order: 0;
    }

    .social {
        height: 3rem;
        width: 90%;
        float: right;

        @include breakpoint(desktop) {
            float: left;
            width: 80%;
        }

        // Changes to SocialIcons to be responsive
        & > div {
            justify-content: flex-end;
            @include breakpoint(desktop) {
                justify-content: unset;
            }
        }
        & > div > li {
            height: 1.5rem;
            width: 1.5rem;
            padding: 0.1rem;
            margin: 0.8rem 0.5rem;

            @include breakpoint(desktop) {
                height: 2rem;
                width: 2rem;
                padding: 0.1rem;
            }
        }
    }

    & > p {
        display: none;

        font-size: larger;
        color: rgba(128, 128, 128, 0.7);

        @include breakpoint(desktop) {
            display: unset;
        }
    }
}
