@import '../../styles/breakpoints.scss';

.container {
    height: 100%;

    display: flex;
    justify-content: space-between;

    @include breakpoint(desktop) {
        flex-direction: column;
        justify-content: space-between;
    }

    & > h1 {
        order: 0;
        margin: 0;

        display: flex;
        flex-direction: column;
        justify-content: center;

        font-size: x-large;
        color: rgb(0, 84, 84);

        @include breakpoint(desktop) {
            order: 0;
            margin: 0.5rem 0;
        }
    }

    .options {
        order: 2;

        display: flex;
        flex-direction: column;
        justify-content: center;

        @include breakpoint(desktop) {
            order: 0;
            flex-grow: 1;
            justify-content: flex-start;
        }
    }

    .footer {
        order: 1;
        flex-grow: 1;
        margin-right: 0.5rem;

        display: flex;
        flex-direction: column;
        justify-content: center;

        @include breakpoint(desktop) {
            order: 0;
            flex-grow: 0;
            margin-right: 0;
        }
    }
}
